<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/loadingAnimation.css">
    <link rel="stylesheet" type="text/css" href="./css/chatComponent.css">
</head>
<body>

{{{body}}}

    <script type="module" src="/js/components/chatComponent.js" nonce="nonce"></script>
    <script type="module" src="/js/components/loadingAnimationComponent.js" nonce="nonce"></script>
</body>
</html>