<div style="position: relative; height: 100vh; display: flex; flex-direction: column;" class="position-relative h-100 d-flex flex-column">
    <div class="container">
        <h1>Alpaca.cpp</h1>
        <div class="alert alert-info">
            <p>The application can take few minutes to answer.</p>
        </div>
        <p>Here start your chat with Alpaca :</p>
        <!--Here goes the chat-->
        <div id="chat-container" class="chat-container"></div>
    </div>
    <v-load></v-load>
    <!--La div en dessous doit être en bas de l'écran-->
    <div class="question">
        <form>
            <label for="question">Your question :</label>
            <div>
                <input id="question" type="text" placeholder="Pausez votre question" name="question" min="3" required>
                <input id="question-button" type="button" value="Envoyer">
            </div>
        </form>
    </div>
</div>

<script type="module" src="/js/chat.js" nonce="nonce"></script>
