<div class="position-relative h-100 d-flex flex-column">
    <div class="container">
        <h1>Alpaca.cpp</h1>
        <div class="alert alert-info">
            <p>L'application peut mettre du temps à répondre selon la puissance de votre PC.</p>
        </div>

        <p>Ici commence votre conversation avec Alpaca :</p>
        <div style="max-height: 50vh;">
            <!--Here goes the chat-->
            <div id="chat-container"></div>
        </div>
    </div>
    <v-load></v-load>
    <!--La div en dessous doit être en bas de l'écran-->
    <div class="question">
        <form>
            <label for="question">Votre question :</label>
            <div>
                <input id="question" type="text" placeholder="Pausez votre question" name="question" min="3" required>
                <input id="question-button" type="button" value="Envoyer">
            </div>
        </form>
    </div>
</div>

<script type="module" src="/js/chat.js" nonce="nonce"></script>
