<div class="container text-center">
    <h1 class="text-center">Alpaca</h1>

    <p class="text-justify">
        Cette application améliore l'expérience utilisateur de l'application chatbot Alpaca.cpp.
        Il vous faut cependant alpaca d'installer, et vous devez créer un script de lancement de l'application
        pour pouvoir utiliser l'interface web.
    </p>

    <p>Quand cela sera fait, cliquez sur le bouton :</p>
    <a class="btn btn-primary mb-3" href="/chat">Commencer</a>

    <img class="img-fluid rounded mx-auto d-block" src="/img/logo.png" alt="logo d'alpaca.cpp">

    <footer class="bg-light">
        <div>Made by Thomas SAZERAT</div>
    </footer>
</div>
