<div class="container">
    <h1>Alpaca.cpp</h1>
    <p>
        Cette application améliore l'expérience utilisateur de l'application chatbot Alpaca.cpp.
        Il vous faut cependant alpaca d'installer, et vous devez créer un script de lancement de l'application
        pour pouvoir utiliser l'interface web.
    </p>
    <p>Quand cela sera fait, cliquez sur le bouton :</p>
    <a class="btn" href="/chat">Commencer</a>

    <img class="img-fluid rounded mx-auto d-block" src="/img/logo.png" alt="logo d'alpaca.cpp">

    <footer>
        <div>Made by Thomas SAZERAT</div>
        <div>All right reserved</div>
    </footer>
</div>
