<div class="container">
    <h1>Alpaca.cpp</h1>
    <p>
        This application boost the user experience of chatbot Alpaca.cpp.
        You will need to install it, and make a script to launch it. Don't worry, you just need to read
        the "readMe.md" file, which contain all the information you need.
    </p>
    <p>To start a chat, click here</p>
    <a class="btn" href="/chat">Start</a>

    <img src="/img/logo.png" alt="Logo Alpaca.cpp">

    <footer>
        <div>Made by Thomas SAZERAT</div>
        <div>All right reserved on the web interface only</div>
        <div>Illustration by ReTouchs : <a href="//pixabay.com/fr/users/retouchs-11103293/">Pixabay link</a></div>
    </footer>
</div>
