.chat-container {
    overflow-y: auto;
    overflow-x: visible;
}

.chat {
    padding: 10px;
    width: 50%;
    max-width: 80vw;
    height: auto;
    margin-bottom: 0.5em;
    border-radius: 5px;
    background: #007bff;
}

.chat>p {
    color: #ffffff;
    margin: 0;
}

.chat-alpaca {
    padding: 10px;
    background: #dcdcdc;
    width: 50%;
    margin-left: 50%;
    max-width: 80vw;
    height: auto;
    margin-bottom: 0.5em;
    border-radius: 5px;
}

@media screen and (max-width: 480px) {
    .chat {
        padding: 5px;
        margin-bottom: 5px;
    }

    .chat-alpaca {
        padding: 5px;
        margin-bottom: 5px;
    }
}
