.chat-container {
    display: flex;
    justify-content: space-between;
}

.chat {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 80vw;
    height: auto;
}

.chat-alpaca {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background: #dcdcdc;
    width: 100%;
    max-width: 80vw;
    height: auto;
}

.chat>p {
    margin: 0;
}

@media screen and (max-width: 480px) {
    .chat {
        padding: 5px;
        margin-bottom: 5px;
    }

    .chat-alpaca {
        padding: 5px;
        margin-bottom: 5px;
    }
}
