h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 0.25em;
    font-family: sans-serif;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.375em;
}

p {
    line-height: 1.5;
    margin-bottom: 0.25em;
    font-family: sans-serif;
}

.btn {
    display: inline-block;
    padding: 0.625em 0.9375em;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    font-family: sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1em;
}

.btn:hover {
    background-color: #0056b3;
}

.container {
    color: #333;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

footer {
    background-color: #f8f9fa;
    padding: 0.625em;
    text-align: center;
    color: #505050;
    font-family: sans-serif;
    width: 90vw;
    margin: auto;
}

@media screen and (max-width: 480px) {
    footer {
        font-size: 0.875em;
    }
}

img {
    max-width: 1000px;
    width: 100%;
    height: auto;
}

.alert {
    padding: 1em;
    border-radius: 4px;
    font-weight: bold;
}

.alert-info {
    background-color: #cce5ff;
    color: #004085;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

label {
    margin-right: 1em;
    font-family: sans-serif;
}

input[type="text"] {
    flex-grow: 1;
    padding: 1.2em; /* Augmentez la valeur du padding pour grossir les inputs */
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: sans-serif;
}

input[type="button"] {
    padding: 1.2em;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-family: sans-serif;
}

@media screen and (max-width: 480px) {
    form {
        flex-direction: column;
    }

    label {
        margin-bottom: 0.5em;
    }

    input[type="text"] {
        margin-bottom: 0.5em;
    }
}

.question {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.chat-container {
    height: 100%;
    overflow-y: visible; /*mettre en auto devrai marcher, à voir*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
